*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html{
    font-size: 62.5%;
}
body{
    width: 100%;
    min-width: 320px;
}
/*--------------------------*/
header{
    position: relative;
    width: 100%;
    height: 102px;
    min-width: 320px;
    padding: 30px 15px;
    display: flex;
    align-items: center;
    background: linear-gradient(to right, rgb(255, 217, 0,0.6) 10%, rgb(255, 102, 0,0.8));
}
.header-brand{
    width: 80%;
    height: auto;
}
.header-brand h1{
    font-size: 3rem;
    font-family: cursive;
    font-weight: bold;
    text-shadow:3px 2px 3px rgba(124, 118, 118, 0.747);
    color: black;
}
.header-nav{
    width: 50px;
    height: 30px;
    margin: 0px auto;
    background: url("./media/menu.png") center no-repeat;
    background-size: contain;
    font-size: 0rem;
}
.header-nav:hover ul{
    position: absolute;
    top: 102px;
    right: 0px;
    width: 100vw;
    height: 120px;
    background-color: rgba(175, 106, 73, 0.288);
}
.header-nav:hover ul li{
    text-align: center;
    width: 100%;
    height: 40px;
    padding: 5px;
    font-size: 3rem;
    font-family: monospace;
}
.header-nav:hover ul li a{
    text-decoration: none;
    color: black;
}
/*-----------------------------------*/
main{
    width: 100%;
    min-width: 320px;
    height: auto;
}
.main-presentation{
    width: 100%;
    min-width: 320px;
    height: 350px;
    background: url("./media/article2.jpg") center no-repeat fixed;
    background-size: 100% 100%;
    opacity: 0.9;
}

