*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html{
    font-size: 62.5%;
}
body{
    width: 100%;
    min-width: 320px;
    max-width: 1600px;
}
/*--------------------------*/
header{
    position: relative;
    width: 100%;
    height: 102px;
    min-width: 320px;
    padding: 30px 15px;
    display: flex;
    align-items: center;
    background: linear-gradient(to right, rgb(255, 217, 0,0.6) 10%, rgb(255, 102, 0,0.8));
}
.header-brand{
    width: 80%;
    height: auto;
}
.header-brand h1{
    font-size: 3rem;
    font-family: cursive;
    font-weight: bold;
    text-shadow:3px 2px 3px rgba(124, 118, 118, 0.747);
    color: black;
}
.header-nav{
    width: 50px;
    height: 30px;
    margin: 0px auto;
    background: url("./media/menu.png") center no-repeat;
    background-size: contain;
    font-size: 0rem;
}
.header-nav:hover ul{
    position: absolute;
    top: 102px;
    right: 0px;
    width: 100vw;
    height: 120px;
    background-color: rgba(255, 255, 255, 0.753);
}
.header-nav:hover ul li{
    text-align: center;
    width: 100%;
    height: 40px;
    padding: 5px;
    font-size: 3rem;
    font-family: monospace;
}
.header-nav:hover ul li a{
    text-decoration: none;
    color: black;
}
/*-----------------------------------*/
main{
    width: 100%;
    min-width: 320px;
    height: auto;
}
    /*--------------------------------------*/
.main-presentation{
    position: relative;
    display: flex;
    align-items: center;
    padding: 10px 0px;
    width: 100%;
    height: 620px;
    min-width: 320px;
    background: url("./media/article2.jpg") center no-repeat fixed;
    background-size: 100% 100%;
}
.presentation-text{
    width: 80%;
    height: auto;
    min-height: 269px;
    margin: 0px auto;
    text-align: center;
}
.presentation-text h2{
    margin-bottom: 20px;
    font-size: 3rem;
    font-family:initial;
    font-weight: 600;
    letter-spacing: 2px;
}
.presentation-text .pA{
    font-size: 5rem;
    line-height: 52px;
    font-family: initial;
    font-weight: bold;
}
.presentation-text span{
    display: block;
    margin: 40px auto;
    width: 50px;
    height: 3px;
    background-color: white;
}
.presentation-text .pB{
    font-size: 2.5rem;
    font-family: initial;
    font-weight: bold;

}
    /*--------------------------------------*/
.main-comodin{
    width: 100%;
    height: auto;
    min-width: 320px;
    max-width: 1000px;
    margin: 0 auto;
}
.comodin-1st{
    width: 100%;
    height: auto;
    padding: 70px 30px;
    background-color: rgba(212, 94, 39, 0.288);
    text-align: center;
}
.comodin-1st h2{
    font-size: 3rem;
    font-weight: bold;
    color: rgb(233, 56, 25);
}
.comodin-1st h2 span{
    display: block;
    margin: 20px auto;
    width: 80px;
    height: 2px;
    background-color: white;
}
.comodin-1st p{
    font-size: 2rem;
    font-weight: 300;
    line-height: 22px;
    color: rgb(233, 91, 25);
}
.comodin-2nd{
    width: 100%;
    height: 320px;
}
.comodin-2nd img{
    width: 100%;
    height: 100%;
}
    /*--------------------------------------*/
.main-me{
    padding: 145px 16px;
    padding-bottom: 80px;
    width: 100%;
    height: auto;
    min-width: 320px;
    text-align: center;
    background-color: white;
}
.main-me .meh2{
    font-size: 4rem;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.main-me .meh2 span{
    display: block;
    margin: 40px auto;
    width: 15px;
    height: 1px;
    background-color: rgb(81, 187, 39);
}
.main-me .mep{
    margin-bottom: 25px;
    font-size: 2.3rem;
    line-height:25px;
    color: gray;
}
.me-countainer{
    width: 100%; 
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row wrap;
}
            /*--------------*/
.me-countainer .skill1{
    width: 100%;
    max-width: 300px;
    padding: 50px 45px;
    background: linear-gradient(to bottom , yellow, black) no-repeat fixed center;
    background-size: cover;
    border: 2px solid white;
}
.me-countainer .skill1 h3{
    font-size: 5rem;
    font-weight: 900;
    color: white;
}
.me-countainer .skill1 span{
    display: block;
    margin: 25px auto;
    width: 80px;
    height: 80px;
    background: url(./media/Logic.png) no-repeat center;
    background-size: contain;
}
.me-countainer .skill1 p{
    margin: 20px 0px;
    font-size: 2rem;
    font-weight: 500;
    line-height: 25px;
    color: white;
}
            /*-------------------*/
.me-countainer .skill2{
    width: 100%;
    max-width: 300px;
    margin: 10px 0px;
    padding: 50px 45px;
    background: linear-gradient(to bottom , rgb(255, 145, 0), grey) no-repeat fixed center;
    background-size: cover;
    border: 2px solid whitesmoke;
}
.me-countainer .skill2 h3{
    font-size: 5rem;
    font-weight: 900;
    color: white;
}
.me-countainer .skill2 span{
    display: block;
    margin: 25px auto;
    width: 80px;
    height: 80px;
    background: url(./media/Creativity.png) no-repeat center;
    background-size: 120% 145%;
}
.me-countainer .skill2 p{
    margin: 20px 0px;
    font-size: 2rem;
    font-weight: 500;
    line-height: 25px;
    color: white;
}
            /*-----------------*/
.me-countainer .skill3{
    width: 100%;
    max-width: 300px;
    padding: 50px 45px;
    background: linear-gradient(to bottom, red, gray) no-repeat fixed center;
    background-size: cover;
    border: 2px solid white;
}
.me-countainer .skill3 h3{
    font-size: 5rem;
    font-weight: 900;
    color: white;
}
.me-countainer .skill3 span{
    display: block;
    margin: 25px auto;
    width: 80px;
    height: 80px;
    background: url(./media/Power.png) no-repeat center;
    background-size: contain;
}
.me-countainer .skill3 p{
    margin: 20px 0px;
    font-size: 2rem;
    font-weight: 500;
    line-height: 25px;
    color: white;
}
.me-countainer .skill1 .line, .me-countainer .skill2 .line, .me-countainer .skill3 .line{
    display: block;
    width: 50px;
    height: 2px;
    background: white;
}
    /*--------------------------------------*/
.main-blogpreview{
    width: 100%;
    height: auto;
    min-width: 320px;
    padding: 80px 16px;
}
.main-blogpreview .blogpreviewh2{
    font-size: 4rem;
    font-weight: bold;
    text-align: center;
}
.main-blogpreview .blogpreviewh2 span{
    display: block;
    width: 30px;
    height: 2px;
    margin: 40px auto;
    background-color: greenyellow;
}
.main-blogpreview .blogpreviewp{
    font-size: 2rem;
    font-weight: 500;
    line-height: 25px;
    text-align: center;
    color: gray;
}
.charts-countainer{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    width: 90%;
    margin: 0px auto;
    margin-top: 60px;
    padding: 16px;
    background-color: rgba(128, 128, 128, 0.2);
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.5);
}
.charts-countainer .chart1, .charts-countainer .chart2, .charts-countainer .chart3{
    width: 100%;
    min-width: 227px;
    max-width: 280px;
    margin: 0px auto;
}
.charts-countainer .chart1 img, .charts-countainer .chart2 img,  .charts-countainer .chart3 img{
    width: 100%;
    height: 140px;
    margin-bottom: 15px;
}
.charts-countainer .chart1 h2, .charts-countainer .chart2 h2,  .charts-countainer .chart3 h2{
    font-size: 2.5rem;
}
.charts-countainer .chart1 h3, .charts-countainer .chart2 h3,  .charts-countainer .chart3 h3{
    font-size: 1.3rem;
}
.charts-countainer .chart1 .span-line, .charts-countainer .chart2 .span-line,  .charts-countainer .chart3 .span-line{
    display: block;
    margin: 10px auto;
    width: 100%;
    height: 1px;
    background-color: black;
}
.charts-countainer .chart1 p, .charts-countainer .chart2 p,  .charts-countainer .chart3 p{
    font-size: 1.5rem;
    word-spacing: 5px;
    line-height: 20px;
}
.charts-countainer .chart1 a, .charts-countainer .chart2 a,      .charts-countainer .chart3 a{
    display: inline-block;
    margin: 20px 0px;
    margin-bottom: 40px;
    font-size: 1.2rem;
    font-weight: bold;
    text-decoration: none;
    color: black;
}
.charts-countainer .chart1 .span-link, .charts-countainer .chart2 .span-link,  .charts-countainer .chart3 .span-link{
    display: inline-block;
    width: 20px;
    height: 13px;
    background: url("./media/direción.png") no-repeat center;
    background-size: contain;
    vertical-align: top;
}
/*----------------------------------*/
footer{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-width: 320px;
    background: linear-gradient(to right, rgba(209, 194, 60, 0.6) 10%, rgba(173, 78, 14, 0.8));
    border-top: black solid 2px;
    border-bottom: black solid 2px;
    text-align: center;
} 
footer .footer-left{
    padding: 120px 0px;
    width: 100%;
    max-width: 466px;
    font-size: 3rem;
    font-weight: bold;
    font-family: monospace;
    color: black;
}
footer .footer-right{
    width: 100%;
    max-width: 466px;
    padding-bottom:50px;    
}
footer .footer-right p{
    font-size: 1.5rem;
    font-weight: bold;
}
footer .footer-right ul{
    width: 60%;
    margin: 0 auto;
    margin-top: 10px;
}
footer .footer-right ul li{
    width: 50px;
    height: 60px;
    margin: 0px auto;
}
footer .footer-right ul li a .instagram{
    display: block;
    width: 50px;
    height: 60px;
    background: url("./media/InstagramIcon.png") no-repeat center;
    background-size: contain;
}
footer .footer-right ul li a .facebook{
    display: block;
    width: 50px;
    height: 60px;
    background: url("./media/FacebookIcon.png") no-repeat center;
    background-size: contain;
}
footer .footer-right ul li a .twitter{
    display: block;
    width: 50px;
    height: 60px;
    background: url("./media/TwitterIcon.png") no-repeat center;
    background-size: contain; 
}